@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  margin-left: -70px;
}


.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 10px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}


.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: rgb(231, 8, 8);
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: rgb(17, 11, 11);
  font-size: 22px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}

.center .sub_title1{
  color: rgb(241, 24, 24);
  font-size: 20px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}


.dropdown {
  float: left;
 /* overflow: hidden;*/
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: rgb(252, 250, 253);
  
  background-color: inherit;
  font-family: inherit;
  margin-top: 100;
  font-weight: 500;
  padding: 1px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  
}

.navbar a:hover, .dropdown:hover .dropbtn {

  background: #fff;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(189, 15, 15, 0.2);
  z-index: 1;
  border-radius: 6px;
}

.dropdown-content a {
  float: none;
  color: rgba(15, 17, 17, 0.884);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  /*background-color: rgb(242, 240, 247);*/
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn
{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
} 

/*li{margin:2px;}
.pages{
    margin-top:20px;
}
/*.footer {
    position: fixed;
    bottom: 0%;
    width:100%;
    height: 30px;
    background-color: blue;
    text-align: center;
    color: white;
}*/