<div class='flat'>

    <h3 style="text-align:center"><b> Create New Flat </b></h3>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <form #flatForm='ngForm' (submit)='createNew(flatForm.value)'>


   <!-- Flat number -->
    <div class='form-group'>
        <label>Flat Number</label>
        <input id="Flat Number" class='form-control' type='number' ngModel name='flatNo' #tflatNo='ngModel'
            placeholder="Flat Number" required>
        
        <div *ngIf='tflatNo.touched && tflatNo.invalid' class='alert alert-danger'>
            Please Enter Flat number.
        </div>
    </div>



    <!-- Ownwer Name -->
    <div class='form-group'>
        <label>Owner Name</label>
        <input id='nm' class='form-control' type='text' ngModel name='ownerName' #townerName='ngModel'
            placeholder="Owner Name" minlength="4" pattern="[A-Za-z]*" required>
             
        <div *ngIf='townerName.touched && townerName.invalid'>
            <div *ngIf='townerName.errors.required' class='alert alert-danger'>
                Please Enter Owner name.
            </div>
            <div *ngIf='townerName.errors.minlength' class='alert alert-danger'>
                Name should be of minimum 4 characters.
            </div>
            <div *ngIf='townerName.errors.pattern' class='alert alert-danger'>
                Name should be only alphabetic.
            </div>
        </div>
    </div>



    <!-- Floor Number -->
    <div class='form-group'>
        <label>Floor Number</label>
        <input id='flno' class='form-control' type='text' ngModel name='floorNo' #tfloorNo='ngModel'
            placeholder="First / Second / Third / ..." required>
         
        <div *ngIf='tfloorNo.touched && tfloorNo.invalid' class='alert alert-danger'>
            Please Enter Floor Number.
        </div>
    </div>


    <!-- Flat Type -->
    <div class='form-group'>
        <label>Flat Type</label>
        <input id='ft' class='form-control' type='text' ngModel name='flatType' #tflatType='ngModel'
            placeholder="AC / Non-AC" required >
         
        <div *ngIf='tflatType.touched && tflatType.invalid'>
            <div *ngIf='tflatType.errors.required' class='alert alert-danger'>
                Please Enter Flat is AC / Non-AC Type.
            </div>
        </div>
    </div>

    <!-- Submit Button -->
    <button type='submit' class='btn btn-primary btn-block' [disabled]='flatForm.invalid'>Submit</button>
</form>
    
    <p *ngIf='message != null' [ngClass]='msgClass'  (click)='gotoList()'>{{message}}! Click to Go to List  </p>
    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>

        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>  
    </div>
</div>