<div class='visitor'>

    <h3 style="text-align:center"> Create Visitor</h3>

    <form #visitorForm='ngForm' (submit)='createNew(visitorForm.value)'>
        <div class='form-group'>
            <label for='vid'>Visitor Id</label>
            <input id='vid' class='form-control' type='text' ngModel name='visitorId' #tempId='ngModel' required>
        </div>
        <div *ngIf='tempId.touched && tempId.invalid' class='alert alert-danger'>
            OOPS! You missed entering visitorId
        </div> 

        <div class='form-group'>
            <label for='nm'>Visitor Name</label>
            <input id='nm' class='form-control' type='text' ngModel name='name'
            #tname='ngModel' required minlength="4" pattern="[A-Za-z]*">
        </div>
        <div *ngIf='tname.touched && tname.invalid'>
            <div *ngIf='tname.errors.required' class='alert alert-danger'>
                Please enter name
            </div>
            <div *ngIf='tname.errors.minlength' class='alert alert-danger'>
                Name should be minimum 4 letters
            </div>
            <div *ngIf='tname.errors.pattern' class='alert alert-danger'>
                Name should be only alphabetic
            </div>
        </div>
     <div class='form-group'>
         <label for='dt'>Date</label>
         <input id='dt' class='form-control' type='date' ngModel name='date' #tdate='ngModel' required>
     </div>
     <div *ngIf='tdate.touched && tdate.invalid' class='alert alert-danger'>
        Please enter the Date
    </div> 

    <div class='form-group'>
        <label for='atime'>Arrival Time</label>
        <input id='atime' class='form-control' type='text' ngModel name='arrivalTime' #arrtime='ngModel' required>
    </div>
    <div *ngIf='arrtime.touched && arrtime.invalid' class='alert alert-danger'>
        Please enter the arrivingTime
    </div>
    <div class='form-group'>
        <label for='dtime'>Departure Time</label>
        <input id='dtime' class='form-control' type='text' ngModel name='departureTime' #deptime='ngModel' required>
    </div>
    <div *ngIf='deptime.touched && deptime.invalid' class='alert alert-danger'>
        Please enter the departingTime
    </div>

    <button type='submit' class='btn btn-primary btn-block' [disabled]='visitorForm.invalid'>Submit</button>
    </form>

    <p *ngIf='message != null' [ngClass]='msgClass'  (click)='gotoList()'>{{message}}! Click to Goto List  </p>
    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>

        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div>
</div>