<div class='login'>
<div class='container' style='width:400px;float:left;'>
    <form #form="ngForm" (ngSubmit)="signIn(form.value)">
      <h2>Login Form</h2>
      <div class="form-group">
        <label for="user">User Name</label>
        <input type="text" id="user" name="username" ngModel #username='ngModel' class="form-control" required placeholder="User Name">
      </div>
      <div *ngIf='username.touched && username.invalid' class='alert alert-danger'>
            User LoginId Required
    </div>
      <div class='form-group'>
        <label for="pwd" >Password</label>
        <input type="password" id="pwd" name="password" ngModel #password='ngModel'  class="form-control" required placeholder="Password">
      </div>
      <div *ngIf='password.touched && password.invalid' class='alert alert-danger'>
        Password Required
</div>
      <button type="submit" class="btn btn-primary btn-block"  [disabled]='form.invalid' >Sign in</button>
    </form>
    <div *ngIf="message!=null" class="alert alert-danger">{{message}}</div>
  </div>
</div>