<div class='visitor'>
    <div *ngIf='failMessage==null'>
        <table class='table'>
            <tr>
                <td>Visitor Id</td>
                <td><input type='text' class='form-control' [(ngModel)]='visitor.visitorId' readonly></td>
            </tr>
            <tr>
                <td>Visitor Name</td>
                <td><input type='text' class='form-control' [(ngModel)]='visitor.name' ></td>
            </tr>
            <tr>
                <td>Date</td>
                <td><input type='date' class='form-control' [(ngModel)]='visitor.date'></td>
            </tr>
            <tr>
                <td>Arrival Time</td>
                <td><input type='text' class='form-control' [(ngModel)]='visitor.arrivalTime'></td>
            </tr>
            <tr>
                <td>Departure Time</td>
                <td><input type='text' class='form-control' [(ngModel)]='visitor.departureTime'></td>
            </tr>

        </table>
        <button (click)='update()' class='btn btn-success btn-block'>Update</button>

    </div>
    <div *ngIf='failMessage != null'>
        {{failMessage}}
    </div>

    <!-- Below message to be clicked to navigate back to emp-list component-->
    <div *ngIf='message != null' [ngClass]='msgClass' (click)='gotoList()'>
        {{message}}! Click to go back
    </div>

    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>

        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div>
</div>
