<div class='user'>
    <div *ngIf='failMessage==null'>
    <table class='table' >
        <tr>
            <td>Role ID</td>
            <td><input type='text' class='form-control' [(ngModel)]='user.roleId' readonly></td>
        </tr>
        <tr>
            <td>userName</td>
            <td><input type='text'  class='form-control' [(ngModel)]='user.userName'></td>
        </tr>
        <tr>
            <td>LoginID</td>
            <td><input type='text' class='form-control' [(ngModel)]='user.loginId'></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type='text' class='form-control' [(ngModel)]='user.password'></td>
        </tr>
        <tr>
            <td>MobileNo</td>
            <td><input type='text' class='form-control' [(ngModel)]='user.mobileNo'></td>
        </tr>
        <tr>
            <td>EmailID</td>
            <td><input type='text' class='form-control' [(ngModel)]='user.emailId'></td>
        </tr>
      
      
      
    </table>
    <button (click)='updateu()' class='btn btn-success btn-block'>Update</button>

    </div>
    <div *ngIf='failMessage != null'>
        {{failMessage}}
        </div>
        
    <!-- Below message to be clicked to navigate back to user-list component-->
    <div *ngIf='message != null' [ngClass]='msgClass' (click)='gotoList()'>
        {{message}}! Click to go back
    </div>

    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>

        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div>
</div>
